{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Password Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
                <li class="nav-item rgtspc hello">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>

              <li class="nav-item rgtspc">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>

              <li class="nav-item rgtspc">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
              </li>

              <li class="nav-item movText">
                    <marquee behavior="" direction=""><a class="nav-link" href="#">
                        Welcome to TEAM GREEN Random Password Generator Website
                    </a></marquee>
              </li>
              
            </ul>
            
          </div>
        </div>
      </nav>

      <section class="py-5 text-center">
        <div class="container">
            <h1 class="jumbotron-heading textmargin">Contact Us!!!</h1>
            <p class="lead text-muted textmargin">For more queries you can always reach us through : </p>
            <p>Phone : 9398388224</p>
            <p>Email : vishnumohankrishna8@gmail.com</p>
            <a href="https://github.com/pvishnumohan" target="_blank">Reach us through GitHub</a>
            <a href=></a>
        </div>
      </section>    

</body>
</html>